.form-control {
  border: 1px solid #d9e1ec;
  border-radius: 4px;
}

.search-input {
  border: none !important;

  &::placeholder {
    font-family: "Inter";
    color: #5a607f;
    font-size: 1rem;
  }
}
