/***
*
* input-fields.scss
* Defines the apperance of all input fields
*
*/

.form-control {
  border: 1px solid $border-color;
  border-radius: 4px;
}

.search-input {
  border: none !important;

  &::placeholder {
    color: $font-accent;
    font-size: $font-lg;
  }
}
