<div class="sidebar p-3 h-100 d-block">
  <div class="menu-nav">
    <ul class="nav flex-column">

      <!-- Main Navigation Items -->
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/Icon.png" />
          </div>
          <div class="col">
            <a class="nav-link">Dashboard</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/32 List.png" />
          </div>
          <div class="col d-flex align-items-center">
            <div class="col-6"><a class="nav-link">Orders</a> </div>
            <div class="col-6 d-flex justify-content-end"> <span class="badge rounded-pill text-bg-dark">16</span></div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/08 Tag.png" />
          </div>
          <div class="col">
            <a class="nav-link">Products</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/01 Folder.png" />
          </div>
          <div class="col">
            <a class="nav-link">Categories</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/03 Users.png" />
          </div>
          <div class="col">
            <a class="nav-link active">Customers</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/09 Statistics.png" />
          </div>
          <div class="col">
            <a class="nav-link active">Reports</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/11 Star.png" />
          </div>
          <div class="col">
            <a class="nav-link">Coupons</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/chat.png" />
          </div>
          <div class="col">
            <a class="nav-link">Inbox</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Other Navigation Items -->
  <div class="other-info-nav">
    <p class="mb-0 ms-2 nav-text">Other Information</p>
    <ul class="nav d-grid">
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/03 Question.png" />
          </div>
          <div class="col">
            <a class="nav-link">Knowledge Base</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/29 Ribbon.png" />
          </div>
          <div class="col">
            <a class="nav-link">Project Updates</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Settings Navigation Items -->
  <div class="settings-nav">
    <p class="mb-0 ms-2 nav-text">Settings</p>
    <ul class="nav d-grid">
      <li class="nav-item">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/02 User.png" />
          </div>
          <div class="col">
            <a class="nav-link">Personal Settings</a>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <div class="p-2 d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="../../../assets/navigation/01 Settings.png" />
          </div>
          <div class="col">
            <a class="nav-link">Global Settings</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>