<div class="profile-details mt-4 h-100">
    <h4>Profile Details</h4>
    <p>Enter your profile information.</p>
    <form>
        <div class="col-12">
            <!-- Profile image field -->
            <label class="form-label">Profile Image</label>
            <div class="profile-image-select d-grid justify-content-center align-items-center">
                <button class="btn btn-light mb-2">Add File</button>
                <p class="mb-0">Or drag and drop files</p>
            </div>
        </div>
        <div class="row d-flex g-0">
            <div class="col-6 pe-4">
                <!-- First name field -->
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" />
                </div>
            </div>
            <div class="col-6">
                <!-- Last name field -->
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" />
                </div>
            </div>
        </div>
        <div class="row g-0 d-flex">
            <div class="col-6 pe-4">
                <!-- Email address field -->
                <div class="mb-3">
                    <label for="emailAddress" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="emailAddress" />
                </div>
            </div>
            <div class="col-6">
                <!-- Phone number field -->
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" />
                </div>
            </div>
        </div>
    </form>
</div>
<hr class="horizontal-line">

<!-- Regional Settings -->
<div class="regional-settings">
    <h4>Regional Settings</h4>
    <p>Set your languange and timezone</p>
    <form>
        <div class="row d-flex g-0">
            <div class="col-6 pe-4">
                <!-- Language field -->
                <div class="d-grid mb-3">
                    <label for="language" class="form-label">Language</label>
                    <button class="btn btn-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        English
                    </button>
                </div>
            </div>
            <div class="col-6">
                <!-- Timezone field -->
                <div class="d-grid mb-3">
                    <label for="timezone" class="form-label">Timezone</label>
                    <button class="btn btn-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        GMT +02:00
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>