/***
*
* typography.scss
* Defines the apperance of all typography
*
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter" !important;
}

h3 {
  font-weight: $font-semibold;
  font-size: $font-xl;
  line-height: $line-height;
  color: $font-primary-color;
}

h4 {
  font-weight: $font-bold;
  font-size: $font-lg !important;
  line-height: $line-height;
  color: $font-primary-color;
}

p,
label {
  font-size: $font-md;
  color: $font-secondary-color;
}
