<div class="settings p-4 g-0 h-100">
    <!-- Title & Buttons -->
    <div class="row w-100 d-flex align-items-center">
        <div class="col-10">
            <h3 class="mb-0">Settings</h3>
        </div>
        <div class="col-2 px-0 d-flex justify-content-end">
            <button type="button" class="btn me-2 btn-light">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>

    <!-- Navigation Tabs & Content -->
    <div class="row g-0 py-4">
        <div class="col-12">
            <div class="settings-content p-3">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <!-- Profile tab -->
                    <li [ngbNavItem]="1">
                        <button ngbNavLink>Profile</button>
                        <ng-template ngbNavContent>
                            <app-profile-information></app-profile-information>
                        </ng-template>
                    </li>
                    <!-- Notification tab -->
                    <li [ngbNavItem]="2">
                        <button ngbNavLink>Notifications</button>
                        <ng-template ngbNavContent>
                            <app-notifications></app-notifications>
                        </ng-template>
                    </li>
                    <!-- Account tab -->
                    <li [ngbNavItem]="3">
                        <button ngbNavLink>Account</button>
                        <ng-template ngbNavContent>
                        </ng-template>
                    </li>
                    <!-- Security tab -->
                    <li [ngbNavItem]="4">
                        <button ngbNavLink>Security</button>
                        <ng-template ngbNavContent>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer buttons -->
    <div class="row">
        <div class="col-12 d-flex justify-content-end align-items-center">
            <hr />
            <button type="button" class="btn me-2 btn-light">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>