/***
*
* nav-tabs.scss
* Defines the apperance of all nav-tabs
*
*/

.nav-tabs {
  .nav-link {
    font-size: $font-lg;
    color: $font-secondary-color;
    font-weight: 300;
    border-width: 0 0 2px 0 !important;
    border-color: transparent !important;

    &.active {
      color: $accent-color !important;
      border-width: 0 0 2px 0 !important;
      border-color: $accent-color !important;
    }

    &:hover {
      border-width: 0 0 2px 0 !important;
      color: $accent-color !important;
    }
  }
}
